$color1: rgba(36, 132, 221, 0.575);
$color2: rgba(216, 219, 228, 0.74);
$color3: rgba(11, 12, 15, 0.74);
$color4: rgb(133, 0, 55);
$color5: rgba(8, 165, 152, 0.479);
$color6: rgba(162, 224, 16, 0.76);

$fuente1: 'Montserrat', sans-serif;